<div class="row">
    <div class="col-md-3">
        <h3>Call History</h3>
        <button class="btn btn-success" id="xuc_get_agent_call_history" title="get agent call history">Get Agent History</button>
        <div class="col-sm-12">
            <h4>User call history filters</h4>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">size</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="xuc_uch_size" placeholder="Maximum number of results">
            </div>
            <label class="col-sm-4 control-label">days</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="xuc_uch_days" placeholder="Days to return calls for">
            </div>
        </div>
        <button class="btn btn-success" id="xuc_get_user_call_history" title="get user call history">Get User History</button>
        <div class="col-sm-12">
            <h4>Customer history filters</h4>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">field</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="xuc_cus_field" placeholder="field (e.g. src_num)">
            </div>
            <label class="col-sm-4 control-label">operator</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="xuc_cus_operator" placeholder="operand (e.g. =)">
            </div>
            <label class="col-sm-4 control-label">value</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="xuc_cus_value" placeholder="value (e.g. phone number)">
            </div>
        </div>
        <button class="btn btn-success" id="xuc_find_customer_call_history" title="get customer call history">Get Customer History</button>
        <div class="col-sm-12">
            <h4>Queue Call History</h4>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="xuc_queue">name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="xuc_queue" value="" placeholder="Queue name (or part)">
            </div>
        </div>
        <button class="btn btn-success" id="xuc_get_queue_call_history" title="Queue call history">Get Queue history</button>
    </div>
    <div class="col-md-9">
        <h3>History Results</h3>
        <button class="btn btn-danger" id="xuc_clean_call_history"><span class="glyphicon glyphicon-remove-circle"></span></button>
        <hr/>
        <ul class="list-group" id="call_history"></ul>
    </div>
</div>