<div class="row">
    <div class="col-md-4">
        <h3>Message</h3>
        <input type="text" placeholder="send to username" class="form-control" id="xuc_flash_username">
        <textarea rows="4" cols="50" placeholder="Type your message here ...." class="form-control" id="xuc_flash_message"></textarea>
        <div class="sep"></div>
        <button class="btn btn-success" id="xuc_send_flash_text" title="send flash text">Send</button>
    </div>
    <div class="col-md-8">
        <h3>Flash Text Events</h3>
        <button class="btn btn-danger" id="xuc_clean_FlashTextEvent"><span class="glyphicon glyphicon-remove-circle"></span></button>
        <hr/>
        <ul class="list-group" id="flashTextEvents"> </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Message History</h3>
        <input type="text" placeholder="history with username" class="form-control" id="xuc_flash_username_history">
        <div class="sep"></div>
        <button class="btn btn-success" id="xuc_get_flash_text_history" title="get chat history">Get History</button>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Message Read</h3>
        <input type="text" placeholder="mark as read with username" class="form-control" id="xuc_read_flash_text">
        <div class="sep"></div>
        <button class="btn btn-success" id="xuc_mark_as_read_flash_text" title="mark as read">Mark as read</button>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Get Display Name</h3>
        <input type="text" placeholder="get display name by username" class="form-control" id="xuc_display_name_by_username">
        <div class="sep"></div>
        <button class="btn btn-danger" id="xuc_clean_display_name"><span class="glyphicon glyphicon-remove-circle"></span></button>
        <button class="btn btn-success" id="xuc_get_display_name_by_username" title="Get display name by username">Get display name</button>
        <ul class="list-group" id="display_name"> </ul>
    </div>
</div>