body {
    padding-top: 5px;
}
.navbar-custom {
    background-color:#00447C;
    color:#ffffff;
    border-radius:0;
}
  
.navbar-custom .navbar-nav > li > a {
    color:#fff;
    padding-left:20px;
    padding-right:20px;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
      
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
}
      
.navbar-custom .navbar-brand {
    color:#F37021;
}
.navbar-custom .navbar-toggle {
    background-color:#F37021;
}